/* ***** VARIABLES ***** */
:root {
    --column-header: #eaeaea;
    --chat-header: 70px;
    --light-text: rgb(185, 185, 185); 
}

/* ********** RESET ********** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* ********** GENERAL ********** */
body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(180deg, #009688 20%, #d9dbd4 20% 100%);
}

/* ********** MAIN ********** */
.wrapper {
    height: 100vh;
    width: 100%;
    padding: 1.5rem 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    min-width: 800px;
    display: flex;
}

.users-col {
    height: 100%;
    width: 40%;
    border-right: 1px solid grey;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.chat-col {
    height: 100%;
    width: 60%;
}

/* -- Users and chat Header -- */
.users-header,
.chat-header {
    background-color: var(--column-header);
    min-height: var(--chat-header);
    display: flex;
    align-items: center;
    padding: 10px;
}

.users-header .user-icons,
.chat-header .user-icons {
    width: 20%;
    color: var(--light-text);
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

/* ----- Users column ----- */
/* -- Header -- */
.users-header img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.users-header .my-name {
    font-weight: 500;
    flex-grow: 1;
    padding: 0 1rem;
    font-size: .9rem;
}

/* -- Enable notifications -- */
.enable-notifications {
    background-color: #8edafc;
    display: flex;
    padding: 1rem;
}

.notifications-bell {
    background-color: white;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    color: #8edafc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.enable div {
    font-weight: 500;
}

.enable a {
    font-size: .8rem;
    color: grey;
}

/* -- Find chat input field -- */
.find-chat form {
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.find-chat {
    padding: 5px;
}

.find-chat button {
    width: 15%;
    padding: 10px 1rem;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    color: var(--light-text);
}

.find-chat input {
    padding: 10px 1rem;
    border: none;
    width: 85%;
    border-radius: 5px;
    font-weight: 500;
    color: var(--light-text);
}

/* -- Users -- */
.users {
    overflow-y: auto;
}

.user {
    display: flex;
    padding: 10px 0 10px 1rem;
}

/* User photo */
.user-photo {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.user-photo img {
    border-radius: 50%;
}

/* User infos */
.user-infos {
    flex-grow: 1;
    padding: 0 1rem;
}

.user-name {
    font-weight: 500;
    font-size: 1.1rem;
}

.last-message {
    color: var(--light-text);
    font-size: .8rem;
    margin-top: 5px;
}

/* Time of message delivery */
.time {
    width: 50px;
    font-size: .7rem;
    color: var(--light-text);
}

/* ----- Chat ----- */
.chat-col {
    display: flex;
    flex-direction: column;
}

.chat {
    flex-grow: 1;
    background-image: url(../img/mine.jpg) ;
}

.chat-footer {
    background-color: var(--column-header);
    min-height: var(--chat-header);
}